body{
    background: black;
    color: white;
    align-content: center;
}
canvas{
    background: white;
    width: 600;
    height: 300;
}

div{
    border: 1px solid black;
    padding: 5px solid red;
}